<h2 mat-dialog-title> Edit Candidate Information</h2>
<mat-dialog-content class="mat-typography">
  <div style="width: 700px;">
    <p style="margin-top: 15px;">
      <mat-form-field appearance="outline" style="width: 500px;">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Enter Condidate Full Name" [(ngModel)]="name">
      </mat-form-field>
    </p>

    <p style="margin-top: 15px;">
      <mat-form-field appearance="outline" style="width: 500px;">
        <mat-label>Email</mat-label>
        <input matInput  placeholder="Enter Condidate Email" [(ngModel)]="email">
      </mat-form-field>
    </p>

    <p style="margin-top: 15px;">
      <mat-form-field appearance="outline" style="width: 500px;">
        <mat-label>Contact No</mat-label>
        <input matInput placeholder="Enter Condidate Contact Number" [(ngModel)]="contactNumber">
      </mat-form-field>
    </p>

    <p style="margin-top: 15px;">
      <mat-form-field appearance="outline" style="width: 500px;">
        <mat-label>Product information</mat-label>
        <input matInput placeholder="Enter Condidate Product information" [(ngModel)]="productInformation">

      </mat-form-field>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" style="padding: 20px;">
  <button mat-stroked-button color="primary" style="width: 100px;">Cancel</button>
  <button mat-stroked-button color="primary" style="width: 100px;margin-right: 20px;" (click)="confirm()">Edit</button>
</mat-dialog-actions>